.carmat-container {
  width: 100%;
  height: 100vh;
  .carmat {
    background-color: rgba(255, 255, 255, 0.767); /* Fond transparent */
    width: 35vw;
    display: flex;
    padding: 15px;
    height: 20%;
    border-radius: 10px;
    font-size: 25px;
    font-family: $font-1;
    position: absolute;
    top: 15%;
    left: 5%;
  }
  .direction {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    position: absolute;
    right: 5%;
  }
}
.href{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.767); /* Fond transparent */
  width: 30%;
  padding: 50px;
  border-radius: 50%;
  svg{
    margin-right: 10px;
  }
}