$width: 100px;
$height: 51px;
$slider_size: 39px;
$transition: .4s;

.toggle-container{
    position: fixed;
    top: 3rem;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 50%; /* Définir la position horizontale souhaitée (25% pour la centrage horizontal à 50%) */
    transform: translate(-50%, -50%); /* Centrer la div par rapport à elle-même */
}

.switch {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  input{
    opacity: 0;
    width: 0;
    height: 0;
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    &:checked {
      & + .slider{
        background-color: #1a3f5d;
      }
      & + .slider:before{
        background-color: #ffe8a3;
        border-color: #ffe8a3;
        -webkit-transform: translateX($slider_size + 4px);
        -ms-transform: translateX($slider_size + 9px);
        transform: translateX($slider_size + 9px);
       }
      & + .slider:after{
        opacity: 1;
        -webkit-transform: translateX($slider_size + 7px);
        -ms-transform: translateX($slider_size + 7px);
        transform: translateX($slider_size + 7px);
        background-color: #1a3f5d;
        transition: $transition;
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8DE0F2;
    -webkit-transition: $transition;
    transition: $transition;
    border-radius: 34px;
    &:before{
      position: absolute;
      content: "";
      height: $slider_size - 9px;
      width: $slider_size - 9px;
      left: 6px;
      bottom: 6px;
      background-color: #F2C230;
      -webkit-transition: $transition;
      transition: $transition;
      border-radius: 50%;
      border: 5px solid #F2911B;
    }
    &:after{
      position: absolute;
      content: "";
      height: $slider_size /1.2;
      width: $slider_size /1.1;
      left: 0px;
      top: 5px;
      background-color: #8DE0F2;
      -webkit-transition: $transition;
      border-radius: 50%;
      opacity: 0;
    }
  }
}