.contact {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/img/nuit2.jpg");
  background-size: 100%; /* Ajuste la taille de l'image pour couvrir le conteneur */
  background-position: center center;
  background-repeat: no-repeat;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 45px;
}

.contact-info {
  display: flex;
  background-color: rgba(255, 255, 255, 0.767);
  h2 {
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}

.contact-section {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 50px 10px 0px 10px;
  flex-direction: column;
  width: 25vw;
  button {
    padding: 10px;
    font-size: 20px;
    background-color: white;
    margin-top: 30px;
    cursor: pointer;
  }
}

.contact-icon {
  font-size: 50px;
  margin-right: 10px;
}

.divider {
  width: 3px;
  height: 300px;
  background-color: black;
  margin: 0 20px;
}

.contact-socials {
  font-size: 30px;
  display: flex;
  gap: 10px;
  padding: 10px 15px 0 15px;
  border-radius: 50px;
}

.contact-item{
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.767);
  svg{
    margin: 8px 8px 0px 8px;
  }
}

.back-contact {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  height: 59vh;
  padding-top: 145px;
}

.grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.658);
  padding: 20px;
}

.grid-icon {
  height: 40%;
  border: 2px solid black;
  padding: 20px;
  font-size: 2rem;
  svg{
    margin: 8px 8px 0px 8px;
  }
}

.grid-description {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-family: $font-1;
  color: #727272;
  font-size: 16px;
  font-weight: 300;
  min-width: 70%;
  .first {
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #4c4c4c;
  }
}
