@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.galerie {
  width: 100%;
  height: 100vh;
  background: linear-gradient(220deg, $color-1, rgba(41, 2, 86, 0.1) 100%),
    linear-gradient(180deg, white, rgba(255, 255, 255, 0.1) 100%),
    linear-gradient(311deg, $color-3, rgba(255, 195, 3, 1) 100%);
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
}

.btn-galerie {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  z-index: 10;
}

.slide-container {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}

.slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.5;
  height: 100vh;
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  font-size: 2.5rem;
}

.arrow svg {
  transition: color 200ms;
}

.arrow svg:hover {
  color: $color-2;
}

.next {
  right: 0%;
  top: 50%;
}
.prev {
  left: 0%;
  top: 50%;
}
