.home {
  width: 100%;
  height: 100vh;
}

.fond {
  height: 100%;
  background-image: var(--url-img);
  background-size: 100%; /* Ajuste la taille de l'image pour couvrir le conteneur */
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
}

.click-container {
  position: fixed;
  animation: click 2s ease infinite; /* Agrandissement du contenu au survol */
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.click {
  cursor: pointer;
  border-radius: 50%;
  svg {
    font-size: 50px;
    fill: aliceblue;
  }
}

@keyframes click {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
}
