@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@300&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Pacifico&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600&family=Pacifico&family=Source+Sans+Pro:wght@400;600;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,700;1,600&display=swap');

$font-1: "Josefin Slab", sans-serif;
$font-2: "Cormorant Upright", sans-serif;
$font-3: "Maven Pro", sans-serif;
$font-4: "Pacifico", cursive;
$font-5: "Ubuntu Mono", monospace;
$color-1: #290256;
$color-2: #FF762E;
$color-3: #FFC303;
$color-4: #000000;

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
}

a {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: $font-1;
  overflow: hidden;
}

.day-theme {
  --bg-img: url("../../public/img/jour2.jpg")
}

.night-theme {
  --bg-img: url("../../public/img/nuit2.jpg")
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.background.img2 {
  z-index: -5;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
}

.background-image.img1 {
  background-image: var(--bg-img);
  transition: background-image 0.5s ease; /* Ajoutez la transition */
}

.background-image.img2 {
  background-image: url("../../public/img/nuit2zoom.jpg");
}
